<%- include('./includes/head.ejs') %>
<section>
  <div class="container pt-5">
    <nav class="row gy-4">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a
              href="/products/?productTypeId=1"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-couch fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Mebellar</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=2"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-mobile fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Smartfonlar</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=3"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-tv fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Televizorlar</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=4"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-car-side fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Avtotovarlar</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a
              href="/products/?productTypeId=5"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-computer fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Kompyuterlar</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=6"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-tshirt fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Erkaklar kiyimi</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=7"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-person-dress fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Ayollar kiyimi</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=8"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-book fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Kitoblar</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a
              href="/products/?productTypeId=9"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-baby-carriage fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">O'yinchoqlar</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=10"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-shoe-prints fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Oyoq kiyimlar</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=11"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-basketball-ball fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Sport tovarlar</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=12"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-tools fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Elektronika</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a
              href="/products/?productTypeId=13"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-kitchen-set fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Oshxona jihozlari</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=14"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-headphones fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Telefon assessuarlari</div>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/products/?productTypeId=15"
              class="text-center d-flex flex-column justify-content-center"
            >
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-tablet fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Konditsionerlar</div>
            </a>
          </div>
          <div class="col-3">
            <a href="/products" class="text-center d-flex flex-column justify-content-center">
              <button
                type="button"
                class="btn buttonColor rounded-pill mx-auto p-5 mb-2"
                data-mdb-ripple-color="dark"
              >
                <i class="fas fa-warehouse fa-3x fa-fw"></i>
              </button>
              <div class="text-dark fs-4">Barchasi</div>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<!-- products section starts  -->

<!-- Top products -->
<section class="cards container-lg" id="cards">
  <% if(topProds.length <= 0) { %>
  <h2 class="text-center">Top Mahsulotlar mavjud emas</h2>
  <% } else { %>
  <div class="top-products d-flex justify-content-between">
    <h2>Top Mahsulotlar</h2>
  </div>
  <div class="box-container">
    <% for (let product of topProds) { %>
    <div class="box">
      <a href="/products/<%= product.id %>"><img src="/<%= product.images[0].imageUrl %>" alt="" /></a>
      <div class="content p-3">
        <div class="info pb-1 mb-3">
          <h4 href="#"><%= product.name %></h4>
        </div>
        <h3 class="text-center"><%= product.price %>UZS</h3>
      </div>
      <div class="card_footer d-flex justify-content-between px-5 py-2 align-items-center">
        <form id="cartIcon">
          <input type="hidden" value="<%= product.id%>" id="prodId" />
          <button class="bg-white text-success"><i class="fa-solid fa-cart-shopping fs-4"></i></button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</section>

<!-- New products -->

<section class="cards container-lg" id="cards">
  <% if(prods.length <= 0) { %>
  <h2 class="text-center">Yangi Mahsulotlar mavjud emas</h2>
  <% } else { %>
  <div class="top-products d-flex justify-content-between">
    <h1></h1>
    <a href="/products" class="h4 fst-italic"
      >Barcha mahsulotlar<i class="fa-solid fa-arrow-right ms-2"></i
    ></a>
  </div>
  <div class="box-container">
    <% for (let product of prods) { %>
    <div class="box">
      <a href="/products/<%= product.id%>"><img src="/<%= product.images[0].imageUrl %>" alt="" /></a>
      <div class="content p-3">
        <div class="info pb-1 mb-3">
          <h4 href="#"><%= product.name %></h4>
        </div>
        <h3 class="text-center"><%= product.price %> UZS</h3>
      </div>
      <div class="card_footer d-flex justify-content-between px-5 py-2 align-items-center">
        <form id="cartIcon">
          <input type="hidden" value="<%= product.id%>" id="prodId" />
          <button class="bg-white text-success"><i class="fa-solid fa-cart-shopping fs-4"></i></button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</section>

<div class="text-center">
  <a href="/products" class="btn btn-outline-primary fs-4">Barchasi ko'rish</a>
</div>
<section class="mbb"></section>
<%- include('./includes/end.ejs') %>
