<%- include('./includes/head.ejs') %>
<section class="filter fs-4 d-flex justify-content-center mx-auto">
  <form class="filter_items" action="/products" method="GET">
    <div class="filtering">
      <select name="productTypeId" id="productTypeId">
        <option selected disabled>Mahsulot turi</option>
        <% for(type of types) { %>
        <option value="<%= type.id %>"><%= type.name %></option>
        <% } %>
      </select>
    </div>
    <div class="filtering">
      <input type="text" class="filtering-input" placeholder="min narx" name="from" />
    </div>
    <div class="filtering">
      <input type="text" class="filtering-input" placeholder="max narx" name="to" />
    </div>
    <div class="filtering">
      <select name="productBrandId" id="productBrandId">
        <option selected disabled>Mahsulot brandi</option>
        <% for(brand of brands) { %>
          <option value="<%= brand.id %>"><%= brand.name %></option>
          <% } %>
        </select>
      </select>
    </div>
    <div class="filtering">
      <button type="submit">Qidirish</button>
    </div>
    <div class="filtering d-flex align-items-center">
      <a href="/products" class="text-center"><i class="fa-solid fa-arrows-rotate"></i></a>
    </div>
  </form>
</section>

<!-- All products -->

<section class="cards container-lg" id="cards">
  <% if(prods.length <= 0) { %>
  <h2 class="text-center">Hech narsa topilmadi</h2>
  <% } else { %>
  <div class="<%= (prods.length > 4) ? 'box-container' : 'box_container' %>">
    <% for (let product of prods) { %>
    <div class="box">
      <a href="/products/<%= product.id%>"><img src="/<%= product.images[0].imageUrl %>" alt="" /></a>
      <div class="content p-3">
        <div class="info pb-1 mb-3">
          <h4 href="#"><%= product.name %></h4>
        </div>
        <h3 class="text-center"><%= product.price %> UZS</h3>
      </div>
      <div class="card_footer d-flex justify-content-between px-5 py-2 align-items-center">
        <form id="cartIcon">
          <input type="hidden" value="<%= product.id%>" id="prodId" />
          <button class="bg-white text-success"><i class="fa-solid fa-cart-shopping fs-4"></i></button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</section>
<% if(isOverLimit) { %>
<div class="pagination d-flex justify-content-center fs-4 mt-5">
  <a href="?page=<%=previousPage %>" class="blocks <%= (currentPage == 1) ? 'disabled' : '' %>">&laquo;</a>
  <% if (currentPage !== 1 && previousPage !== 1) { %>
  <a href="?page=1" class="blocks">1</a>
  <% } %> <% if (hasPreviousPage) { %>
  <a href="?page=<%= previousPage %>" class="blocks"><%= previousPage %></a>
  <% } %>
  <a href="?page=<%= currentPage %>" class="active blocks"><%= currentPage %></a>
  <% if (hasNextPage) { %>
  <a href="?page=<%= nextPage %>" class="blocks"><%= nextPage %></a>
  <% } %> <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
  <a href="?page=<%= lastPage %>" class="blocks"><%= lastPage %></a>
  <% } %>
  <a href="?page=<%=nextPage %>" class="blocks <%= (currentPage == lastPage) ? 'disabled' : '' %>">&raquo;</a>
</div>
<% } %>
<section class="mbb"></section>
<%- include('./includes/end.ejs') %>
